* {
  font-family: sans-serif
}

.day-label {
  margin: 2em;
}

.day-col {
  float: left;
  width: 138px;
}

.hour-entry {
  width: 133px;
}

.project-row {
  float: left;
}

.column-main {
  width: 80%;
  margin-left: 10em;
}

h1 {
    
}
