* {
  font-family: sans-serif
}

.day-label {
  margin: 1em;
  font-size: 11pt;
}

.day-col {
  float: left;
  width: 123px;
}

.hour-entry {
  width: 120px;
}

.project-row {
  float: left;
}

.project-name {
  width: 200px;
  margin-right: 4px;
}

.day-row {
  margin-left: 228px;
}

.column-main {
  width: 100%;
  margin-left: 5em;
}

h1 {
    
}
